body {background-color: #fdcae1;}
.letraazul {color: #a2a0a1;         background-color: #75f9f2; text-align:center;}
.letraverde {color: #eef6b0;}
#mapasonido {color: green;}
.letramediana {font-size: medium; margin: 1%;}
.letragrande {font-size: x-large;  background-color: #edb8fa; text-align:center;}
img { height: 300px; width: 38%; margin: 1%}
.texto{text-decoration:underline;}
