
/* ? ------------- Media Queries ------------- */
@media (max-width: 576px) { img { width: 25vw; height: 30vw; }}
@media (orientation: portrait) and (max-width: 767px) { img { width: 25vw; height: 30vw}}
@media (orientation: landscape ) and (max-width: 991px) { img { width: 25vw; height: 30vw}}
@media (max-width: 576px) { label { background-color: yellow; display: flex; align-items: center; justify-content: center;}}
@media (max-width: 576px) { .texto { background-color: pink} }
@media (max-width: 576px) { section::after  { display: none;} }
@media (max-width: 576px) { .texto2  { font-family: LucidaCursiva;}}
@media (orientation: portrait) and (max-width: 576px) {.flex-container { font-size: 18px;}
@media (max-width: 576px) {.imagen { background-color:   #b2dfdb  }}
