body {background-color: #fdcae1;}
.letraazul {color: #a2a0a1;         background-color: #75f9f2; text-align:center;}
#mapasonido {color: #7fb3d5; text-align: center;  font-size: x-large}
#listadeingrediente {color: #eef6b0;}
#preparacion {color: #eef6b0;}
#video {color: #7fb3d5;}
#imagen {color: #7fb3d5; text-align: center;}
.letragrande {font-size: x-large;  background-color: #edb8fa;}
img { height: 300px; width: 60%; margin: 3%}
.texto{text-decoration:underline;}
.letragrande2 {font-size: x-large; width: 40%}
.letraazul2 {font-size: x-large; color: #a2a0a1;         background-color: #75f9f2; }
.tamañodetexto { position: relative; right: 220px; font-size: x-large;  background-color: #edb8fa;}
.tamañoimagen {width: 30%; height: 80px}
.iconsw{position: fixed; top: 75%; right: 1%; width: 15%; height: 60px;}

header {background-color: #fdfd96;}
nav {background-color: pink;}
section .letraazul {background-color: green;}
aside {background-color: #ffbfb0;}
footer {background-color:  #f0b27a;}

section{ float: left; width: 50%; height: 250px; overflow: scroll; border: 3px solid black; box-sizing: border-box; padding: 1%}
aside{ width: 50%; background-position: 10% left; height: 250px; overflow: scroll; border: 3px solid black; box-sizing: border-box; padding: 5px}

footer{clear: both; box-sizing: border-box;}
